name: telegram message
on: [push]
jobs:
  SEND_MSG:
    name: send
    runs-on: ubuntu-latest
    steps:
      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          format: markdown
          disable_web_page_preview: true
          message: |
            New push to Github!
            ```text
            ${{ github.event.commits[0].message }}
            ```By `${{ github.actor }}` in repo `${{ github.repository }}`
            
            See changes: [${{ github.event.commits[0].message }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }})
